name: CI

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Rust Cache
        uses: swatinem/rust-cache@v2

      - name: Check Formatting
        run: cargo fmt -- --check

      - name: Run Clippy
        run: cargo clippy -- -D warnings

      - name: Run Tests
        run: cargo test --verbose

  build-release:
    name: Build Release Binary
    if: startsWith(github.ref, 'refs/tags/')
    needs: [check]
    permissions:
      contents: write
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: vsh
            asset_name: vsh-linux-amd64

          - os: windows-latest
            artifact_name: vsh.exe
            asset_name: vsh-windows-amd64.exe

          - os: macos-13
            artifact_name: vsh
            asset_name: vsh-darwin-amd64

          - os: macos-14
            artifact_name: vsh
            asset_name: vsh-darwin-arm64

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: swatinem/rust-cache@v2

      - name: Build Release
        run: cargo build --release --verbose

      - name: Rename Binary
        shell: bash
        run: |
          cp target/release/${{ matrix.artifact_name }} ${{ matrix.asset_name }}

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.asset_name }}
